form div{
	margin-top:10px;
	margin-bottom:10px;
}

.seater{
	background-color: black;
	padding:30px;
	min-width: 50px;
	color:white;
	margin:0 auto;
	margin-left: 30px;
	margin-right: 30px;
}


.seat{
	height: 20px;
	width: 20px;
	border-radius: 2px;
	background-color: white;
	color: black;
	float:left;
	padding: 20px;
	margin:10px;
}


.red{
	background-color: green;
}

.green{
	background-color: red;
}