body{
	background-image: linear-gradient(to right, #5f2c82, #49a09d);
}


.bigger_circle{
	width:500px;
	height:500px;
	border-radius: 250px;
	margin : 80px auto;
	background-color: white;
	border: 30px solid black;
}

.smaller_circle{
	width:200px;
	height:200px;
	border-radius: 100px;
	background-color: white;
	border: 20px solid black;
	margin: -350px auto 0px auto;
}

.horizontal{
	border: 10px solid black;
	margin-top: 200px;
}

.vertical{
	width: 0px;
	height:440px;
	border: 10px solid black;
	margin-top: -260px
}

.tl_square{
	width:220px;
	height:220px;
	border:1px solid black;
	float:left;
	border-top-left-radius: 400px;
	margin-top: -330px;

}

.tr_square{
	width:220px;
	height:220px;
	border:1px solid black;
	float:left;
	border-top-right-radius: 190px;
	margin-top: -330px;
	margin-left: 220px;

}

.bl_square{
	width:220px;
	height:220px;
	border:1px solid black;
	float:left;
	border-bottom-left-radius: 150px;
	margin-top: -90px;
}

.br_square{
	width:220px;
	height:220px;
	border:1px solid black;
	float:left;
	border-bottom-right-radius: 150px;
	margin-top: -90px;

}