body{
	background-image: linear-gradient(to right, #5f2c82, #49a09d);
}

.bigger_circle{
	width:500px;
	height:500px;
	border-radius: 250px;
	margin : 80px auto;
	background-color: white;
	border: 30px solid black;
}

.firstsqr{
	width:220px;
	height:220px;
	background-color: blue;
	float:left;
	border-right:10px solid black;
	border-top-left-radius: 200px;
	border-bottom:10px solid black;
}

.secondsqr{
	width:220px;
	height:220px;
	background-color: blue;
	float:left;
	border-left:10px solid black;
	border-top-right-radius: 200px;
	border-bottom:10px solid black;
}

.thirdsqr{
	width:220px;
	height:220px;
	background-color: blue;
	float:left;
	border-right:10px solid black;
	border-bottom-left-radius: 200px;
	border-top:10px solid black;

}

.fourthsqr{
	width:220px;
	height:220px;
	background-color: blue;
	float:left;
	border-left:10px solid black;
	border-bottom-right-radius: 200px;
	border-top:10px solid black;
}

.smaller_circle{
	width:240px;
	height:240px;
	border-radius: 120px;
	background-color: white;
	border: 20px solid black;
	position:absolute;
	z-index: 10;
	margin-top: 100px;
	margin-left: 100px;
}

.blackbox{

}