.margin{

	margin-top:80px;
}

.block{
	padding:20px;
	text-align: center;
	background-color: blue;
	color:white;
}

.mainblock{
	background-color: #e3e3e3;

}

.internalblock{
	padding: 40px;
	
	
	text-align: center;
}

.backgroundblock{
	background-color:white;
	padding:10px 30px 10px 30px;
}